nav {
	align-items: center;
	background-color: #333;
	display: flex;
	justify-content: space-between;
	padding-right: 20pt;
}

ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

li {
	float: left;
}

li a, li h4, div.chango {
	color: white;
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

li h4 {
	margin: 0;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}

div.chango {
	float: right;
}

div.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50pt;
    margin-right: 50pt;
    margin-top: 20pt;
    margin-bottom: 50pt;
}
